<!-- View:    change_types                                      -->
<!-- Purpose: Displays the parent change class.                 -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<tr>
  <th class="teraheader" width="200" align="right">Class:&nbsp;</th>
  <td width="200"><%=h change_class.name %>&nbsp;
                  <%= change_class.active? ? '(Active)' : '(Inactive)' %></td>
</tr>