<!-- View:    change_types                                      -->
<!-- Purpose: Displays the parents for the change type.         -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<table align="center" border="0">
  <%= render(:partial => 'parent_row', 
             :locals  => { :change_class => @change_class }) %>
</table>
