The <%= @role_name %> review for the <%= @design_name %> has been reassigned

  From: <%= @user_name %>
  To:   <%= @peer_name %>
  By:   <%= @user_name %>.

The design information is located at <%= Pcbtr::PCBTR_BASE_URL %>
