The <%= @role_name %> review for the <%= @design_name %> has been reassigned from <%= @user_name %> to <%= @peer_name %> by <%= @user_name %>.

The design information is located at <%= Pcbtr::PCBTR_BASE_URL %>
