<!-- View:    change_items                                      -->
<!-- Purpose: Displays the parent change type.                  -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<tr>
  <th class="teraheader" width="200" align="right">Type:&nbsp;</th>
  <td width="200"><%=h change_type.name %>&nbsp;
                  <%= change_type.active? ? '(Active)' : '(Inactive)' %></td>
</tr>