<!-- View:    change details                                    -->
<!-- Purpose: Displays the parent change item.                  -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<tr>
  <th class="teraheader" width="200" align="right">Item:&nbsp;</th>
  <td width="200"><%=h change_item.name %>&nbsp;
                  <%= change_item.active? ? '(Active)' : '(Inactive)' %></td>
</tr>