<%= error_messages_for 'ipd_post' %>

<%= hidden_field 'ipd_post', 'parent_id' %>
<%= hidden_field 'ipd_post', 'design_id' %>

<!--[form:ipd_post]-->
<p><label for="ipd_post_subject">Summary</label><br/>
<%= text_field('ipd_post', 'subject', :size => 80)  %></p>

<p><label for="ipd_post_body">Details</label><br/>
<%= text_area('ipd_post', 'body', :cols => "65")  %></p>
<!--[eoform:ipd_post]-->

