
warn { color: red; 
       font-weight: bold;}


body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.actiontable {
  border-collapse: colapse;
  border: 10px double #444;
  border-color: #023a94;
  background-color: #dfe9ff;
}

.buttonPost{
  color: #184f3f;
  background-color: #4dcfa8;
  font-weight: bold;
}

.buttonStop{
  color: black;
  background-color: #ff4d0f;
  font-weight: bold;
}

.pleaseSelect{
  font-weight: bold;
  background-color: #ff4d0f;
  color: #023a94;
}

.selectOption{
  font-weight: bold;
  color: #000000;
  background-color: #c2efc8;
}

.reviewresults {
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.bottomnav {
	vertical-align: middle;
	background: #023a94;
	color: #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	}

.div { background-color: #023a94; 
       height: 10px
     }

.confirm {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5em;
  }
  
.peer_check_outer_box{
  table-layout:      fixed;
  width:             100%;
  margin-right:      auto;
  margin-left:       auto;
  border:            10px double;
  page-break-inside: avoid;
}

.peer_check_inner_box{
  table-layout: fixed;
  width:        95%;
  margin-right: 0px
}
  
.comment_box {
}

.comment_table{
  border-width:   0;
  border-spacing: 0;
  width:          90%;
  margin-right:   auto;
  margin-left:    auto;
}

.review_results_table{
  border-width:   0;
  border-spacing: 0;
  width:          80%;
  padding:        1;
}

.review_summary{
  width:          100%;
  border:         0px solid;
}
  
.teraheader {
  background: #023a94;
  font-size: 14px;
  color: #ffffff;
}
.subheading {
  font-size: 12px;
}

.notice { 
    color: red;
}

.name_select {
  width:   200px;
  size:    10;
}

.lt_gray { background-color: #e7e7e7; }
.dk_gray { background-color: #d6d7d6; }
.lt_yellow   { background-color: #fffbcf; }

.approved    { background-color: #aecfa8; }
.no_response { background-color: #dfe9ff; }
.rejected    { background-color: #ef9595; }
.withdrawn   { background-color: #dfe9ff; }

.reviewer_peer {
  font-size: 10px;
  font-weight: bold;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid #red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
