<!-- View:    priority                                          -->
<!-- Purpose: Displays a form to add a new priority.            -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->


<% @heading = "Create a new Criticality" %>

<hr class="div" />

<%= form_tag(:action => 'create') do %>

  <table border="0">
    <tr>
      <td>
        <label for="priority_name">Criticality:</label>
      </td>
      <td>
        <%= text_field "new_priority", "name", "size" => 16, "maxlength" => 16 %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="priority_value">Value:</label>
      </td>
      <td>
        <%= text_field "new_priority", "value", "size" => 3, "maxlength" => 3 %>
      </td>
    </tr>
  </table>

  <hr class="div" />
  <input type="submit" value="Create a new criticality" />
  <input type="button" value="Cancel" onClick="parent.location='<%= url_for( :action => 'list' ) %>'" />

<% end %>
