<!-- View:    eco  task                                         -->
<!-- Purpose: Displays the new view to create an ECO Task.      -->
<!-- ********************************************************** -->
<!-- $Id$   -->
<!-- ********************************************************** -->

<% @heading =  "New ECO CAD Task" %>

<% eco_admin = @logged_in_user.is_a_role_member?('ECO Admin') %>

<%= form_for(@eco_task, :html => {:multipart => true} ) do |f| %>


<%= render :partial => "view_task", 
  :locals=> { :f => f, :eco_admin => eco_admin } %>
<% #originally anyone could create an ECO task if they could find the URL %>
 <table align="center" width="880" border="0">
   <tr><td colspan="4"><hr class="div" /></td></tr>
    <tr>
      <td align="left"   width="440"><%= f.submit "Create" %></td>  
      <td align="right" width="440">
        <%= link_to 'Return to ECO CAD Task List', eco_tasks_path %>
      </td>
    </tr>
    <tr><td colspan="4"><hr class="div" /></td></tr>
  </table>

<% end %>



<%# debug @eco_task %>