<!-- View:    design_review                                     -->
<!-- Purpose: Displays the buttons common to all roles.         -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<tr>
  <td>
    <input type="button" value="Attachments" title="Add or view attachments"
           onClick="parent.location='<%= url_for(:controller => 'design_review', 
                                                 :action => 'review_attachments') %>'"
           class="small_font_wide_button" />
  </td>
</tr>

<tr>
  <td>
    <input type="button" value="Mailing List"
           title="Use to review the list of people on the mail list as well as to modify the CC list"
           onClick="parent.location='<%= url_for(:controller       => 'design_review', 
                                                 :action           => 'review_mail_list') %>'"
           class="small_font_wide_button" />
  </td>
</tr>

<tr>
  <td>
    <input type="button" value="Update Reviewer List"
           title="Use to update users assigned to perform reviews"
           onClick="parent.location='<%= url_for(:controller => 'design',
                                                 :action     => 'design_review_reviewers',
                                                 :id         => @design_review.design_id) %>'"
           class="small_font_wide_button" />
  </td>
</tr>
