<!-- View:    design_review                                     -->
<!-- Purpose: Displays the buttons common to the pcb admin,     -->
<!--          tracker admin, amd PCB management roles.          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<tr>
  <td>
    <input type="button" value="Update Design Review"
           title="Use to update Pre-Artwork, Designer, Peer, Design Center, and Criticality"
           onClick="parent.location='<%= url_for(:controller => 'design_review', 
                                                 :action     => 'admin_update',
                                                 :id         => @design_review.id) %>'"
           class="small_font_wide_button" />
  </td>
</tr>

<tr>
  <td>
    <input type="button" value="Change Part Numbers"
           title="Use to change the oart numbers assigned to the design"
           onClick="parent.location='<%= url_for(:controller        => 'design_review',
                                                 :action            => 'change_part_numbers',
                                                 :id                => @design_review.id) %>'"
           class="small_font_wide_button" />
  </td>
</tr>

<tr>
  <td>
    <input type="button" value="Update FAB Vendors"
           title="Use to change the FAB vendors assigned to a design"
           onClick="parent.location='<%= url_for(:controller => 'design_review',
                                                 :action     => 'update_fab_houses',
                                                 :id         => @design_review.id) %>'"
           class="small_font_wide_button" />
  </td>
</tr>

<tr>
  <td>
    <input type="button" value="Change Engineering Location"
           title="Use to change the engineering location of the design"
           onClick="parent.location='<%= url_for(:controller        => 'design_review',
                                                 :action            => 'change_design_dir',
                                                 :design_review_id  => @design_review.id) %>'"
           class="small_font_wide_button" />
  </td>
</tr>


