<!-- View:    designer_review                                   -->
<!-- Purpose: Asks the designer if the placement and routing    -->
<!--          reviews should be combined.                       -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @title = "Combine Placement & Routing Review?" %>

<%= form_tag(:action => 'process_placement_routing') do %>

  <hr class="div" />

  <p class="confirm">
    Check box to combine the Placement and Routing reviews: 
    <%= check_box(:combine, :reviews) %>
  </p>
  
  <input type="submit" value="Continue Posting" />
  <hr class="div" />

  <% end %>

  <input type="button" value="Home" onClick="parent.location='<%= url_for( :controller => 'tracker', :action => 'index' ) %>'" />

