<%#
Update the fab houses for a design
%>



<% form_tag( { :action  => 'process_update_fab_houses', } ) do %>
  <%= hidden_field "design_review", "id" %>
  <%= render_partial("fab_vendor_selections")%>
  <input type="submit" value="UPDATE FAB HOUSES"
         title="Update the FAB houses"
         class="buttonPost" />
<% end %> 