<br />
<table border="0" width='1000' align="center">

  <tr>

    <td valign="top" width="50%">

      <table width="100%">

        <tr>
          <th>Excluded Groups</th>
        </tr>
        <% exclude_group_list = unassigned_groups %>
        <% if exclude_group_list.size >= 0 %>
          <tr>
            <td align="center">
              <font size="-2">
                To add to the included list click on group name.
              </font>
            </td>
          </tr>
          <tr>
            <td align="center">
              <%= collection_select(:add,
                                    :group,
                                    exclude_group_list,
                                    :id,
                                    :name,
                                    {:include_blank => false},
                                    "class" => 'group_select',
                                    "size" => 30,
                                    :style => "width:400px") %>
 
            </td>
          </tr>
        <% else %>
          <tr align="center"><td>No groups remain to be added.</td></tr>
        <% end %>

      </table>
    </td>

    <td valign="top" width="50%">

      <table width="100%">

        <tr>
          <th>Groups Assigned To This Role</th>
        </tr>

        <% include_group_list = assigned_groups %>
        <% if include_group_list.size >= 0 %>
          <tr>
            <td align="center">
              <font size="-2">
                To remove from the included list click on group name.
              </font>
            </td>
          </tr>
          <tr>
            <td align="center">
              <%= collection_select(:remove,
                                    :group,
                                    include_group_list,
                                    :id,
                                    :name,
                                    {:include_blank => false},
                                    "class" => 'group_select',
                                    "size"  => '30',
                                    :style => "width:400px") %>
            </td>
          </tr>
        <% else %>
          <tr align="center"><td>No groups remain to be added.</td></tr>
        <% end %>

      </table>
    </td>
  </tr>

</table>



