<!-- View:    tracker                                           -->
<!-- Purpose: Displays the review summary table.                -->
<!--          view.                                             -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<table align="left" border="0" cellspacing="0" width="100%">

  <tr>
    <th colspan="8" class="teraheader">
      <%= title %>
    </th>
  </tr>

  <% if reviews.size > 0 %>
    <tr class="subheading">
      <th align="left" width="60">&nbsp;</th>
      <th align="left" width="160">PCB Part Number Rev</th>
      <th align="left" width="100">Type</th>
      <th align="left" width="70">Status</th>
      <th align="left" width="140">Posted By</th>
      <th align="left" width="45" title="Age in work days">Age</th>
      <td>&nbsp;</td>
    </tr>
    <%= render( :partial    => 'reviewer_home_list_stripes',
                :collection => reviews,
                :locals     => { :my_reviews => true } )%>
  <% else %>
    <tr>
      <th>
       None
      </th>
    </tr>
  <% end %>

</table>
