<!-- View:    tracker:_system_messages                                  -->
<!-- Purpose: Displays the system                               -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->


<!-- ############################################################ -->
<!-- CHANGELOG                                                    -->
<!-- ############################################################ -->
<tr class="teraheader"><th>System Messages</th></tr>
<tr>
    <td align="center">
      <%= link_to("Changelog",
                  { :controller => 'system_messages', :action => 'changelog' }) %>
    </td>
</tr>
<tr>
    <td align="center">
      <%= link_to("Maintenance",
                  { :controller => 'system_messages', :action => 'maintenance' }) %>
    </td>
</tr>