<!-- View:    tracker                                           -->
<!-- Purpose: Displays a checkbox for all users.  The checkbox  -->
<!--          is unchecked.  A list of roles with associated    -->
<!--          checkboxes.                                       -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<%= render(:partial => 'all_users_unchecked') %>