<!-- View:    tracker                                           -->
<!-- Purpose: Display when no database                          -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @title = "PCB Design Board/Data Tracker" %>
<h1 align="center">Welcome to the PCB Design Tracker</h1>
<hr/>
<h2> This instance of the tracker is not configured. </h2>
