<!-- View:    tracker                                           -->
<!-- Purpose: Displays a checkbox for all users.  The checkbox  -->
<!--          is checked.                                       -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<%= render(:partial => 'all_users_checked') %>  
