<!-- View:    tracker:reviewer_home                                           -->
<!-- Purpose: Displays the tracker home page.                   -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @title = "PCB Design Board/Data Tracker" %>
<!--% debug session %-->

<br />
<table width="100%" border="0" cellspacing="2" align="center">
  <tr valign="top">

    <!-- Left column - navigation links -->
    <td width="15%">
        <%= render(:partial => 'tracker_navigation') %>
    </td>

    <!-- Right column - home body       -->
    <td>
      <table border="0" width="100%">
        <tr>
          <td>
            <%= render( :partial    => 'reviewers_list',
                        :locals     => { :title   => "My Unprocessed Reviews",
                                         :reviews => @my_unprocessed_reviews }) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render( :partial    => 'reviewers_list',
                        :locals     => { :title   => "My Processed Reviews",
                                         :reviews => @my_processed_reviews }) %>
          </td>
        </tr>

        <tr>
          <td>
            <table align="left" border="0" cellspacing="0" width="100%">
      	      <tr>
                <th colspan="8" class="teraheader">
                  Other Reviews
                </th>
              </tr>

              <% if @reviews_assigned_to_peers.size > 0 %>
                <tr class="subheading">
                  <th align="left" width="60">&nbsp;</th>
                  <th align="l@my_unprocessed_reviews@my_unprocessed_reviewseft" width="160">PCB Part Number Rev</th>
                  <th align="left" width="100">Type</th>
                  <th align="left" width="70">Status</th>
                  <th align="l@my_unprocessed_reviewseft" width="140">Posted By</th>
                  <th align="left" width="45" title="Age in work days">Age</th>
                </tr>
                <%= render( :partial    => 'reviewer_home_list_stripes',
                            :collection => @reviews_assigned_to_peers,
                            :locals     => { :my_reviews => false } )%>
              <% else %>
                <tr>
                  <th>
                    None
                  </th>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%# debug session %>
<%# debug @my_reviews %>
<%# debug @other_reviews %>
