<tr class="<%= project_list_stripes_counter.modulo(2).nonzero? ? "dk_gray" : "lt_gray" %>">
  <td>
    <% rid = project_list_stripes["id"] %>
    <%= link_to project_list_stripes["name"], { :action => 'edit', :id => rid } %> </td>
  <td align="center">
    <% if project_list_stripes["active"] == 1 %>
      Yes
    <% else %>
      No
    <% end %>
  </td>
</tr>