<!-- View:    project                                           -->
<!-- Purpose: Displays a list of projects.                      -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "PCB Tracker - Projects" %>

<%= form_tag( :action => 'add') do %>

  <hr class="div" />

  <table width="40%" align="center" border="1" cellspacing="2" cellpadding="2" rules="all">
    <tr>
      <th width="70%">Project</th>
      <th width="15%">Active</th>
    </tr>

    <%= render( :partial => "project_list_stripes", :collection => @projects ) %>
  </table>

  <hr class="div" />

  <input type="submit" value="New Project" />
  <input type="button" value="Return to Admin portal" onClick="parent.location='<%= url_for( :controller => 'admin', :action => 'index' ) %>'" />

<% end %>
