Section:    <%= @design_check.check.section.name %>
Subsection: <%= @design_check.check.subsection.name %>

Check:      <% if @check.title.size > 0 %><%= @check.title %> - <% end %><%= @check.check %>

Comment entered by Peer Reviewer:

<%= @comment %>
