The <%= @board_design_entry.part_number.full_display_name %> has been returned to you by <%= @processor.name %>

COMMENTS:
--------------------------------------------------------------------------------
<%= @board_design_entry.input_gate_comments %>
--------------------------------------------------------------------------------

For details, please refer to <%= Pcbtr::PCBTR_BASE_URL %>board_design_entry/view_entry/<%= @board_design_entry.id %>
