<% if @result_update != {} %>RESULTS:
  <% @result_update.each { |role, result| %> <%= @user.name %> (<%= role %>) <%= result %> <% } %>
<% end %>
<% if @comments %>COMMENTS:<% @comments.each do |comment| %>
=================================================================
Entered by: <%= comment.user.name %> on <%= comment.created_on.format_dd_mm_yy_at_timestamp %>
<%=  comment.comment %><% end %><% end %>
=================================================================

NOTE: The design information is located at <%= Pcbtr::PCBTR_BASE_URL %>design_review/view/<%= @design_review_id%>
