<% if @repost %>
<%= @user.name %> has reposted the <%= @design_review.review_name %> review.
Posting number: <%= @design_review.posting_count %>
<% else %>
<%= @user.name %> has posted the <%= @design_review.review_name %> review.
<% end %>

<% if @comments.size > 0 %>
COMMENTS:
  <%=h @comments %>
<% end %>


Please use the PCB Tracker to provide your feedback
The design information is located at <%= Pcbtr::PCBTR_BASE_URL %>design_review/view/<%= @design_review.id%>
