ECO Number:                  <%=h @eco_task.number %>
Type:                        <%= @eco_task.eco_types.collect { |et| et.name }.join(', ') %>
Assembled Board Part Number: <%=h @eco_task.pcba_part_number %>
Bare Board Revision:         <%=h @eco_task.pcb_revision %>

Reference:  <%= Pcbtr::PCBTR_BASE_URL %>eco_tasks/<%=  @eco_task.id %>
                        

<% if @eco_task.eco_comments.size > 0 %>COMMENTS:<% @eco_task.eco_comments.each do |comment| %>
=================================================================
Entered by: <%= comment.user.name %> on <%= comment.created_at.format_dd_mm_yy_at_timestamp %>
<%=  comment.comment %><% end %><% end %>
=================================================================

