<% @user.name %> changed the <%= @role.display_name %> reviewer for the <%= @design_review.design.name %> <%= @design_review.review_type.name %> Design Review

    From: <%= @old_reviewer %>
    To:   <%= @new_reviewer %>