// Place all the styles related to the FabIssues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fab_iss_chkbox_col {
  width: 20px;
  text-align: center;
}

.fab_iss_date_col {
  width: 70px;
  text-align: center;
}

.fab_iss_other_col {
  width: 40px;
  text-align: center;
}