// Place all the styles related to the FabQuarterlyStatuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



table#fab_quarterly_statuses_table th {
  font-size: .9em;
}
table#fab_quarterly_statuses_table td{
  font-size: .8em;
}
table#fab_quarterly_statuses_table td.colfmt {
  text-align: center;
}
table.styletable {
  min-width: 400px;
  border-width: 2px;
  border-spacing: 0;
  border-style: outset;
  border-collapse: collapse;
  border-color: #DDDDDD;
  margin: 10px auto 0 auto;

}

table.styletable th {
  background-color: yellow;
  padding: 10px;
  border-width: 2px;
  border-spacing: 0;
  border-style: outset;
  border-collapse: collapse;
  border-color: #DDDDDD;
}

table.styletable td {
  padding: 10px;
  border-width: 2px;
  border-spacing: 0;
  border-style: outset;
  border-collapse: collapse;
  border-color: #DDDDDD;
}

.hidden {
  display: none;
}
