
table#data  {
	/* border-width: thin; */
  	/* border-style: solid; */
  	border-collapse: collapse;
}
table#data th {
	font: bold 16px Helvetica;
	background-color: #AAAAAA;
}
table#data td {
	padding: 7px 10px;
}

table#data tr:nth-child(odd) {
	background-color: #BBD9EE;
}    
table#data tr:nth-child(even) {
	background-color: #F1EFE2; 
}

table#fir_board_data_table th,
table#fir_doc_issues_table th,
table#fir_clar_issues_table th,
table#fir_board_data_table td,
table#fir_doc_issues_table td,
table#fir_clar_issues_table td {
	font-size: 10px;
}

table#fir_board_data_table td {
	text-align: center;
}
.fir_col_width {
	width: 70px;
}

 
p.firChartTitle {
  font: bold 18px Helvetica;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

div#firQuartersChart {
	position: relative;
	z-index: 10;
  min-width: 310px;
  max-width: 90%; 
  height: 551px; 
  margin: 0 auto;    
}


div#firDeliverableChart,
div#firIssuesPinsChart,
div#firDrawingChart,
div#firModeChart {
	position: relative;
	z-index: 10;
  min-width: 310px;
  max-width: 90%; 
  height: 400px; 
  margin: 0 auto;    
}

div.splitcontentleft {
  float: left;
  width: 70%;
  margin-left: 10px;
}

div.splitcontentright {
  float: right;
  width: 26%;
  margin-right: 10px;
}



div.fir_table {
  background-color: #81AFD2 ;
  padding: 10px;
	text-align: center;
}
p.fir_table_title {
	font-weight: bold;
	font-size: .9em;
	margin: 0px;
}
p.fir_table_title_note {
	font-size: .7em;
	margin: 0px;
}
table.fir_table {
	margin: 0 auto;
}
table.fir_table th {
	font-size: .85em;
}
table.fir_table td {
	text-align: center;
	font-size: .75em;
}

.jchartfx .Attribute0 {
    fill: #D3696C;
    stroke: #D3696C;
    stroke-width: 1;
    opacity: 1;
}
.jchartfx .Attribute1 {
    fill: #55AA55;
    stroke: #55AA55;
    stroke-width: 1;
    opacity: 1;
}
.jchartfx .Attribute2Line {
    fill: #000000;
    stroke: #000000;
    stroke-width: 1;
    opacity: 1;
}
.jchartfx .Attribute3Line {
    fill: #7E1518;
    stroke: #7E1518;
    stroke-width: 1;
    opacity: 1;
}
.jchartfx .Attribute4Line {
    fill: #116611;
    stroke: #116611;
    stroke-width: 1;
    opacity: 1;
}
.jchartfx .Attribute5Line {
    fill: #A8383B;
    stroke: #A8383B;
    stroke-width: 2;
    opacity: 0.9;
}
.jchartfx .Attribute6Line {
    fill: #2D882D;
    stroke: #2D882D;
    stroke-width: 2;
    opacity: 0.8;
}






