<!-- View:    prefix                                             -->
<!-- Purpose: Displays a list of board prefixes.                         -->
<!-- ********************************************************** -->
<!-- $Id$ -->
<!-- ********************************************************** -->

<% @heading = "PCB Tracker Board Prefix - List" %>

<%= form_tag(:controller => 'admin', :action => 'index') do %>

  <hr class="div" />

  <table width="80%" 
          align="center" 
          border="1" 
          cellspacing="2" 
          cellpadding="2" 
          rules="all">
    <tr>
      <th>PCB Mnemonic</th>
      <th>Loaded Prefix</th>
      <th>Unloaded Prefix</th>
      <th>Active</th>
    </tr>
    <%= render( :partial => "prefix_list_stripes", :collection => @prefixes ) %>
  </table>

  <hr class="div" />

  <input type="submit" value="Return to Admin portal"  />

<% end %>