    <table><tr>
    <% if params[:value] == 'yes' %>
      <td class="label" width="200" 
          title="Identify the original PCB">
        Original PCB Number:
      </td>
      <td class="data">
        <%= text_field("board_design_entry", "original_pcb_number", "size" => 16) %>
      </td>
    <% else %>
      <td class="data">&nbsp;</td>
    <% end %>
    </tr></table>
